<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://fugangqiang.github.io/" target="_blank" title="Lispor">Lispor</a></li>
      <li><a href="http://blog.codingnow.com/" target="_blank" title="云风的 BLOG">云风的 BLOG</a></li>
      <li><a href="http://coolshell.cn/" target="_blank" title="酷壳">酷壳</a></li>
      <li><a href="http://my.oschina.net/pingpangkuangmo/blog" target="_blank" title="pingpangkuangmo">pingpangkuangmo</a></li>
      <li><a href="http://http://songshuhui.net/" target="_blank" title="科学松鼠会">科学松鼠会</a></li>
      <li><a href="http://www.opscoder.info/" target="_blank" title="opscoder">opscoder</a></li>
      <li><a href="http://devopstarter.info" target="_blank" title="Colstuwjx">Colstuwjx</a></li>
      <li><a href="http://www.techug.com/" target="_blank" title="外刊IT评论网">外刊IT评论网</a></li>
      <li><a href="http://www.jianshu.com/users/b1dd2b2c87a8/timeline" target="_blank" title="王垠">王垠</a></li>
    </ul>
</div>
